@import '../../index.scss';

.adopt-container {
    display: flex;
    padding: 0px 11vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-primary-pink-light, .2);
}

.adopt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 4rem 6rem;
    background-color: #fff;

    //1
    &__filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    &__filter-primary {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    &__button-group {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;

        .adopt__button-selected {
            @include button-basic;
            background-color: $color-secondary-1;
            color: $color-secondary-2;
            @include text-style-button-1;

        }

        .adopt__button {
            color: $color-primary-blue;
            border: none;
            @include text-style-button-1;

        }
    }

    &__filter-secondary {
        display: grid;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        gap: 3.2rem;
    }

    &__sub-filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;


        &>h4 {
            @include text-style-hairline-1;
            color: rgba(249, 129, 151, 0.6);

        }

        &__drop-down {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 8px 8px 16px;
            background: $color-neutrals-8;
            border: 2.5px solid rgba(249, 129, 151, 0.6);
            border-radius: 12px;
            width: 100%;
            color: $color-primary-blue;
            @include text-style-caption-bold;

            &:active {
                color: $color-primary-pink;
                border: 2.5px solid $color-primary-pink;
            }

            &:hover {
                color: $color-primary-pink;
                border: 2.5px solid $color-primary-pink;
            }

            svg {
                color: rgba(249, 129, 151, 0.6);
                width: 2.5rem;
                height: 2.5rem;

            }
        }

    }

    //2
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, 296px);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 6rem
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 29.6rem;
        padding: 1.2rem;
        background-color: rgba($color-primary-blue, $alpha: 1);




        // background: #FCFCFD;
        @include effect-style-depth-5;
        box-shadow: $color-primary-blue;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
            @include effect-style-depth-1;
            transform: scale(1.02);
            background-color: $color-primary-blue-light;
            border-bottom: 3px solid rgba($color-primary-blue, .5);
            border-right: 3px solid rgba($color-primary-blue, .5);
            ;

        }

        &__img {
            width: 100%;
            height: 40rem;
            border-radius: 16px;
            object-fit: cover;
            background-color: rgba($color-secondary-4, .2);
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 2rem 0px;
            width: 100%;
        }

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: .8rem;
            color: $color-neutrals-7;
        }

        &__name {
            @include text-style-body-1;
            color: $color-neutrals-7;
        }

        &__age {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .6rem .6rem;
            border: 2px solid $color-primary-pink-light;
            box-sizing: border-box;
            border-radius: 4px;
            color: $color-primary-pink-light;
            @include text-style-hairline-2;
        }

        &__hair {
            @include text-style-caption-bold;
            color: $color-neutrals-7;
            width: 100%;
        }

        &__location {
            @include text-style-caption-2;
            color: $color-neutrals-6;
        }

        &__detail {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            width: 100%;
            color: $color-neutrals-7;
            @include text-style-caption-2;


        }

        &__size-and-gender {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__divider {
            border-color: #fff;
        }
    }



}



//3
// &__loading {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     padding: 1.2rem 1.6rem;

// }