@import '../../index.scss';
// ///////////////  Hero  ///////////////
.hero {
  position: relative;
  width: 100%;
  height: 48vw;
  background: no-repeat center url(../../assets/images/hero.png);
  background-size:cover;
  margin:0 auto;
  .center {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin:0 auto;

    .hero__title{
      color:$color-neutrals-8;
      @include text-style-hero;
      font-size: max(6.6vw,12px);
      line-height: 6.6vw;
      -webkit-text-stroke: .1rem #FFFFFF;
      text-shadow: 0px 4px 4px rgba(133, 70, 70, 0.75);
      // @media(max-width: 1200px){@include text-style-headline-1};//1 rem = 9px < 1200px
      // @media(max-width: 900px){@include text-style-headline-2};///1 rem = 8px < 900px
      // @media(max-width: 600px){@include text-style-headline-3};//1 rem = 8px < 600px
    }
    .hero__subtitle {
      color:$color-neutrals-8;
      @include text-style-body-3;
      font-size:max(1.66vw,9px);
      line-height: max(2.22vw,9px);
      text-shadow: 0px 1px 1px rgba(69, 14, 14, 0.65);
    }
  }
}

// ///////////////  Start: Ways to give  ///////////////
.ways {
  width: 100%;
  padding:8.33vw 11.11vw  ;
  &__title{
    @include text-style-headline-3;
    color:$color-neutrals-3;
    text-align: center;
    margin-bottom: max(4.37vw,4rem);
  }
  &__cards {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(256px,1fr));
    gap:max(1.73vw,15px);
  }
  &__card {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    &__img{
      width:100%;
      border-radius: 1.6rem;

    }
    &__title{
      display: flex;
      justify-content: center;
      align-items: center;
      height:max(6.11vw,90px);
      @include text-style-body-2;
      font-size: max(1.11vw,16px);
      line-height: max(1.667vw,16px);
      padding:auto;
      .tittle__text {
        width: 80%;
        text-align: center;
      }
    }
    .ways__card__button{
      @include button-secondary;
    }

  }
}
// ///////////////  End: Ways to give  ///////////////


// ///////////////  Start: Content  ///////////////
.content {
    width:100%;
    min-height:75vh;
    .item{ 
      margin:5vw;
    }
  // 1.video section 
  &__video{
    display: flex;
    padding:0 8vw;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary-2;
    
    @media only screen and (max-width:900px) {
      flex-direction: column;
      padding:0 6vw;
    }
    // left-side-block
    &__img{
      background: no-repeat center url(../../assets/images/video.jpeg);
      background-size:contain;
      border-radius: 1.6rem;
      width: 44.4vw;
      height: 40.5vw;
      @media only screen and (max-width:900px) {
        width:80%;
      }
    }
  }

  // 2.buy section
  &__buy {
    width: 100%;
    display: flex;
    padding:0 8vw;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary-2;
    @media only screen and (max-width:900px) {
      flex-direction: column;
      padding:0 6vw;
    }
    // left-side-block
    &__img{
      background: no-repeat center url(../../assets/images/buy.png);
      background-size:contain;
      width: 30vw;
      height: 20vw;
      @media only screen and (max-width:900px) {
        width:80%;
      }
    }
  } 
  
  
  // 3.feed section
  &__feed {
    width: 100%;
    display: flex;
    padding:0 8vw;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width:900px) {
      flex-direction: column;
      padding:0 6vw;
    }
    // left-side-block
    &__img{
      background: no-repeat center url(../../assets/images/feed.png);
      background-size:contain;
      width: 44.4vw;
      height: 40.5vw;
      @media only screen and (max-width:900px) {
        width:80%;
      }
    }
  }
  // 4.sick section
  &__sick {
    width: 100%;
    display: flex;
    padding:0 8vw;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width:900px) {
      flex-direction: column;
      padding:0 6vw;
    }
    // left-side-block
    &__img{
      background: no-repeat center url(../../assets/images/sick.png);
      background-size:contain;
      width: 44.4vw;
      height: 40.5vw;
      @media only screen and (max-width:900px) {
        width:80%;
      }
    }
  }
  // 5.senior section
  &__senior {
    width: 100%;
    display: flex;
    padding:0 8vw;
    align-items: center;
    justify-content: center;
    background-color: $color-primary-pink;
    @media only screen and (max-width:900px) {
      flex-direction: column;
      padding:0 6vw;
    }
    // left-side-block
    &__img{
      background: no-repeat center url(../../assets/images/senior.png);
      background-size:contain;
      width: 33.3vw;
      height: 34.2vw;
      @media only screen and (max-width:900px) {
        width:80%;
      }
    }
    .text__heading, .text__subheading, {
      color: $color-neutrals-7;
    }
  }

}

// all text block
.text{
  width: 28.8vw;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width:900px) {
    width:70%;
    align-items: center;  }
  &__decor{
    @include text-style-hairline-1;
    color: $color-neutrals-4;
    font-size: max(1.11vw,12px);
    line-height: max(1.11vw,12px);
    margin-bottom: max(0.84rem,5px);
  }
  &__heading{
    @include text-style-headline-1;
    font-size: max(2.77vw,20px);
    line-height: max(3.33vw,20px);
    margin-bottom: 2rem;
    color:$color-neutrals-3;
  }
  &__subheading{
    @include text-style-body-1;
    font-size:max(1.47vw,16px);
    line-height: max(1.47vw,20px);
    color:$color-neutrals-3;

  }
  &__restriction{
    @include text-style-caption;
    font-size:max(0.97vw,9px);
    margin-bottom: 4rem;
    color:$color-neutrals-3;

  }
  // NOTE:can't use &__button or the border will not work
  .text__button {
    @include button-secondary;
    font-size: max(1.11vw,12px);
    line-height: max(1.11vw,12px);
    width:50%;
  }
  .button__primary__donate{
    @include button-basic;
    font-size: max(1.11vw,12px);
    line-height: max(1.11vw,12px);
    color:$color-neutrals-8;
    background-color: $color-primary-pink;
    border:none;
    margin: 2vw 0;
    width: max(20vw,49px);
  }
  .button__secondary__donate {
    @include button-secondary;
    font-size: max(1.11vw,12px);
    line-height: max(1.11vw,12px);
    // padding:1.8rem 2.5rem;
    width: max(20vw,49px);
  }
  .button__senior {
    color:$color-neutrals-8;
    background-color: $color-primary-blue;
    border:none;
    width: max(15vw,110px);

  }
  
}



// ///////////////  End: Content  ///////////////
