@import '../../index.scss';

.App-header {
  background:white;
}
.header{
  height: 8.1rem;
  display:flex;
  justify-content: space-between;
  padding: 2rem 16rem;

  // //////////left-header//////////////// //
  &__left{
    display: flex;
    align-items: center;
    
  }
  &__logo{
    display: flex;
    align-items: center;
    &__img{
      width: 3.2rem;
      height: 3.2rem;
      margin-right: .8rem;
    }
    &__title{
      @include text-style-body-1;
      color: $color-primary-blue;
      font-weight: 700;
      margin: 0;
    }
  }
  &__how {
    @include text-style-button-2;
    margin-bottom: 0;
    margin-left: 3.2rem;
    color: $color-neutrals-4;
  }
  // //////////right-header//////////////// //
  &__right {
    display: flex;
    .button__log-in {
      @include button-basic;
      @include text-style-button-2;
      background-color: $color-primary-pink;
      color: $color-neutrals-8;
      margin-right: 1.2rem;
    }
    .button__sign-up {
      @include button-basic;
      color: $color-neutrals-8;
      @include text-style-button-2;
      color: $color-neutrals-2;
      border:.2rem solid $color-neutrals-6
    }
  }
}

