@import '../../index.scss';

.pet {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 6.4rem 9.6rem;
    flex-wrap: wrap;
    width: 100%;



    //left
    &__detail {
        flex: 64;
        margin: 6.4rem;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        &__img {
            display: block;
            width: 35.3rem;
            height: 30.3rem;
            border-radius: 12px;
            background: no-repeat url('https://i.postimg.cc/WzqN9kJ0/image.png');
            background-size: cover;
            margin-bottom: 6.4rem;

        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 2rem;
            width: 100%;

            h1 {
                @include text-style-headline-1;
                color: $color-neutrals-2;
                margin: 0;
            }

            &__name-decor {
                margin-top: 1rem;
                width: 4rem;
                height: .8rem;
                background-color: $color-primary-pink;
            }

            Button {
                color: $color-primary-pink;
                @include button-secondary;
            }
        }

        &__down {
            @include text-style-caption;
            color: $color-neutrals-2;
            width: 100%;
        }

    }

    &__about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 2rem 0;

        h2 {
            @include text-style-headline-4;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 32px 0px;
        }

        &__content-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            @include text-style-body-2;
            margin-bottom: 2rem;
        }

    }

    .pet__button {
        @include button-primary;
        position: relative;

        &__arrow {
            margin-bottom: -.2rem;
        }
    }

    &__describe {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 2rem 0;

        h2 {
            @include text-style-headline-4;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 32px 0px;

            p {
                color: $color-neutrals-4;
                @include text-style-caption-2;
            }
        }
    }

    //right
    &__side {
        flex: 35.3;
        border-radius: 16px;
        margin: 6.4rem;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &__sponsor {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 100%;
            height: 22.5rem;
            padding: 4.8rem;
            border-radius: 12px;
            background-color: $color-primary-blue;

            h4 {
                @include text-style-body-1;
                color: $color-neutrals-8;
                margin-bottom: 2rem;
            }

            .button {
                @include button-primary;
            }
        }
    }
}